body {
    font-family: Arial, sans-serif;
    background-color: #1a1a2e;
    color: #ffffff;
    margin: 0;
}

header {
    background-color: #101026;
    text-align: center;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#info-icon {
    width: 40px;
    height: 40px;
    margin-top: 10px;
    cursor: pointer;
}

main {
    padding: 20px;
    text-align: center;
}

button {
    padding: 15px;
    font-size: 16px;
    background-color: #282845;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
    margin: 10px 0;
    width: 80%; /* Адаптивная ширина для мобильных */
    max-width: 300px;
}

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1a1a2e;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

#heart {
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    clip-path: polygon(50% 0%, 100% 35%, 85% 100%, 50% 75%, 15% 100%, 0% 35%);
    animation: pulse 1s infinite;
}

#header-text {
    opacity: 0;
    animation: fadeIn 2s forwards;
}

#news-text {
    font-family: Marker Felt, fantasy;
    font-size: 40px;
    opacity: 0;
    animation: fadeInNews 1s forwards;
    animation-delay: 0.1s; /* Задержка анимации */
}

#coming-soon {
    opacity: 0;
    animation: fadeInComingSoon 2s forwards;
    animation-delay: 0.1s;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes fadeInNews {
    to {
        opacity: 1;
    }
}

@keyframes fadeInComingSoon {
    to {
        opacity: 1;
    }
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
}

/* Стили для модального окна */
.modal {
    display: none;
    position: fixed;
    z-index: 20;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #1a1a2e;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 300px;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.return-link {
    display: inline-block;
    padding: 15px;
    font-size: 16px;
    background-color: #282845;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
    margin: 10px 0;
    width: 80%; /* Адаптивная ширина для мобильных */
    max-width: 40px;
    text-align: center;
}

.return-link:hover {
    background-color: #3a3a5a;
}

.home-icon {
    width: 40px;
    height: 40px;
}