body {
    font-family: Arial, sans-serif;
    background-color: #1a1a2e;
    color: #ffffff;
    margin: 0;
}

header {
    background-color: #101026;
    text-align: center;
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#info-icon {
    width: 40px;
    height: 40px;
    margin-top: 10px;
    cursor: pointer;
}

main {
    padding: 20px;
    text-align: center;
}

button {
    padding: 15px;
    font-size: 16px;
    background-color: #282845;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
    margin: 10px 0;
    width: 80%; /* Адаптивная ширина для мобильных */
    max-width: 300px;
}

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1a1a2e;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

#cat-face {
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    clip-path: polygon(50% 90%, 100% 65%, 85% 0%, 50% 25%, 15% 0%, 0% 65%);
    animation: pulse 1s infinite;
    position: relative;
    z-index: 1;
}

#cat-face::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #000000;
    clip-path: polygon(50% 80%, 0% 0%, 100% 0%);
    top: 63%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Левый глаз */
#cat-face .eye-left {
    content: '';
    position: absolute;
    width: 10px;
    height: 2px;
    background-color: #000000;
    top: 32%;
    left: 21%;
    transform: rotate(25deg);
}

/* Правый глаз */
#cat-face .eye-right {
    content: '';
    position: absolute;
    width: 10px;
    height: 2px;
    background-color: #000000;
    top: 32%;
    left: 58%;
    transform: rotate(-25deg);
}

/*лицо в хэддере*/

#cat-facenonload {
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    clip-path: polygon(50% 90%, 100% 65%, 85% 0%, 50% 25%, 15% 0%, 0% 65%);
    position: relative;
    z-index: 1;
}

#cat-facenonload:before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #000000;
    clip-path: polygon(50% 80%, 0% 0%, 100% 0%);
    top: 63%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Левый глаз */
#cat-facenonload .eye-left {
    content: '';
    position: absolute;
    width: 10px;
    height: 2px;
    background-color: #000000;
    top: 32%;
    left: 21%;
    transform: rotate(25deg);
}

/* Правый глаз */
#cat-facenonload .eye-right {
    content: '';
    position: absolute;
    width: 10px;
    height: 2px;
    background-color: #000000;
    top: 32%;
    left: 58%;
    transform: rotate(-25deg);
}

/* Хэддер */

#header-text {
    opacity: 0;
    animation: fadeIn 1s forwards;
}

#news-text {
    font-family: Marker Felt, fantasy;
    font-size: 40px;
    opacity: 0;
    animation: fadeInNews 1s forwards;
}

#coming-soon {
    opacity: 0;
    animation: fadeInComingSoon 2s forwards;
    animation-delay: 0.1s;
}

#coming-soon img {
    margin-left: 5px;
    margin-right: 5px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes fadeInNews {
    to {
        opacity: 1;
    }
}

@keyframes fadeInComingSoon {
    to {
        opacity: 1;
    }
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
}

/* Стили для модального окна */
.modal {
    display: none;
    position: fixed;
    z-index: 20;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #1a1a2e;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 300px;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.return-link {
    display: inline-block;
    padding: 15px;
    font-size: 16px;
    background-color: #403b6d;
    border: 1px solid #000000;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
    margin: 10px 0;
    width: 80%; /* Адаптивная ширина для мобильных */
    max-width: 40px;
    text-align: center;
}

.return-link:hover {
    background-color: #868686;
}

.home-icon {
    width: 40px;
    height: 40px;
}

/* Стили для постов */
.post {
    margin-top: 60px;
    padding: 50px;
    background-color: #282845;
    border-radius: 5px;
}

.post .nickname {
    margin-bottom: 20px;
    font-weight: bold;
}

.post .title {
    margin-bottom: 50px;
    font-size: 20px;
}

.post .description {
    margin-bottom: 30px;
}

/* Стили для модального окна */
#post-modal {
    display: none;
    position: fixed;
    z-index: 20;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #1a1a2e;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 300px;
    text-align: left; /* Выровнять по левому краю */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

#post-form label,
#post-form input,
#post-form textarea,
#post-form button {
    display: block;
    width: 100%;
    margin-bottom: 15px; /* Отступ после каждого поля ввода */
}

#post-form input,
#post-form textarea {
    padding: 10px;
    border: 1px solid #888;
    border-radius: 5px;
    background-color: #282845;
    color: #ffffff;
}

#post-form button {
    padding: 10px;
    font-size: 16px;
    background-color: #282845;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

#post-form button:hover {
    background-color: #3a3a5a;
}

/* Стили для постов */ 
.post { 
    margin-top: 60px; 
    padding: 50px; 
    background-color: #282845; 
    border-radius: 5px; 
    text-align: left; /* Выровнять по левому краю */
} 
.post .nickname { 
    margin-bottom: 20px; 
    font-weight: bold;
} 
.post .title { 
    margin-bottom: 20px; 
    font-size: 20px; 
} 
.post .description { 
    color: rgb(180, 180, 180);
    margin-bottom: 10px; 
}
.user-icon {
    width: 40px;
    height: 40px;
    padding-bottom: 20px;
}

.developer {
color: rgb(216, 97, 97);
}

.devi a {
    font-size: 12px;
    color: #fff;
    text-decoration: none;
}

.google-form a {
    color: #96c5f1;
    cursor: pointer;
}

.notification {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    animation: fade-out 2s forwards;
}

@keyframes fade-out {
    0% { opacity: 1; }
    80% { opacity: 1; }
    100% { opacity: 0; }
}

.email {
    cursor: pointer;
    color: #86c8ff; /* Цвет для выделения */
    text-decoration: underline; /* Дополнительно подчеркивание */
}

.email:hover {
    color: #38a9ff; /* Более темный оттенок при наведении */
}

/* Стиль кнопки "Удалить" */
.delete-btn {
    background-color: 0;
    color: white;
    border: 1px solid #888;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.delete-btn:hover {
    background-color: #ff8288; /* Темнее при наведении */
}

.delete-btn:active {
    background-color: #ff000d; /* Темнее при клике */
}

.attention {
    color: #ffa4a9;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

#music-players {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 100px;
}

.audio-player {
    position: relative;
    width: 300px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333333;
    border: 1px solid #09005a;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.hit-label {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: rgb(243, 130, 1);
    color: black;
    font-weight: bold;
    font-size: 12px;
    border-radius: 50%;
    padding: 5px 10px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.controls {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-grow: 1;
}

.play-btn {
    font-size: 18px;
    background-color: #000e8d;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.play-btn:hover {
    background-color: #5c5c5c;
}

.progress-bar {
    width: 100%;
    cursor: pointer;
    background-color: #1a0061;
    border: none;
    height: 5px;
    border-radius: 5px;
}